<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="tennis_ball">
  <link name="tennis_ball_link">
    <visual>
      <geometry>
        <sphere radius="0.032"/>
      </geometry>
      <material name="green">
        <color rgba="0.3 0.8 0.3 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.032"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.057"/>
      <origin xyz="0 0 0" />
      <inertia ixx="1e-4" iyy="1e-4" izz="1e-4" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
</robot>
